@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 4rem;
  --nav-width: 68px;
  --first-color: #5fbdff;
  --first-color-light: #fff;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background-color: var(--white-color); */
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.nav-primary {
  background-color: var(--first-color);
}
.main-content {
  margin-top: 100px;
}
.header_toggle {
  color: var(--first-color-light);
  font-size: 2rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img a img {
  width: 40px;
}
.profile-dropdown {
  position: relative;
  display: inline-block;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show-leftbar {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show-leftbar {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/* card statistic */
.card-statistic {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 8px 10px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.card-statistic-number {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 0 15px;
  width: 50%;
  margin-bottom: 0;
  font: 700 32px Montserrat, sans-serif;
}
.csn-info {
  background-color: #53c9d1;
  color: white;
}
.csn-success {
  background-color: #5cb85c;
  color: white;
}
.csn-danger {
  background-color: #d9534f;
  color: white;
}
.csn-warning {
  background-color: #f0ad4e;
  color: white;
}
.card-statistic-text {
  color: #000;
  display: flex;
  align-items: center;
  flex: 1;
  font: 300 20px Monstserrat, sans-serif;
}
.card-jadwal {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 8px 10px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.card-jadwal-hari {
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  padding: 0 15px;
  width: 55%;
  color: white;
  background-color: #3c77cf;
}
.card-jadwal-hari .mapel {
  font: 700 42px Monstserrat, sans-serif;
}
.card-jadwal-hari .desc {
  font: 400 15px Montserrat, sans-serif;
}
.card-jadwal-text {
  color: #000;
  display: flex;
  align-items: center;
  flex: 1;
  font: 500 24px Monstserrat, sans-serif;
}
.profile-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  gap: 10px;
}
.profile-image {
  padding: 2px 5px 4px 5px;
  margin: 0px 5px 0px 5px;
  border-radius: 15px;
}
.card-jadwal-2 {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 10px 8px 10px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  width: 100%;
}
.mapel-list {
  padding-top: 5px 3px;
  flex: 1;
}
.ruang-kelas {
  flex: 2;
}
.card-jadwal-list {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 10px 8px 10px 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  height: 110px;
  width: 30%;
  background-color: #5fbdff;
  color: white;
  font: 500 24px Monstserrat, sans-serif;
}
.card-jadwal-mapel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.profile-desc {
  align-items: center;
}
.profile-nama {
  flex: 1;
  font-family: Monstserrat, sans-serif;
  text-align: start;
}
.container-boxed {
  /* rounded */
  border-radius: 10px;
  /* shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  /* padding */
  padding: 10px 8px 10px 8px;
  /* margin */
  margin-bottom: 10px;
}
.container-header {
  color: black;
  font: 500 32px Montserrat, sans-serif;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  justify-content: center;
  margin: 25px 0 20px 0;
}
.container-body {
  padding: 15px;
}
.container-body-header {
  margin-bottom: 10px;
}
.card-pengajar{
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

